.header{
    min-width: 1000px;
    height: 68px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
}
.header .logo a{
    width: 78px;
    height: 29px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-position: 0 -98px;
    margin: 17px 17px; 
}

.header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.header li a{
    color: #444;
}
.header li+li{
    margin-left:30px ;
}
.header li:last-child{
    margin-right: 40px;
}
.sign_area{
    padding-top: 76px;
}
.inner{
    width: 1024px;
    margin: 0 auto;
}
.section{
    padding-top: 20px;
    background-color: #f6f8fa;
}

.section_area{
    display: flex;
    align-items: center;
}
.sign_section .title{
    font-size: 48px;
    font-weight: 500;
    color: #222;
    letter-spacing: -1px;
    padding-top: 130px;
    line-height: 60px;
}
.sign_section .explanation{
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-top: 13px;
}
.find_text p{
    font-size: 13px;
    font-weight: 400;
    color: #444;
    margin-top: 22px;
}
.image_section,
.sign_section{
   width: 50%;
   height: 695px;
   margin-left: 40px;
}
.image_section{
    background-image: url(../img/img.jpg) ;
    background-size: 540px auto;
    background-position: center;
    
}
.login_box .btn_login{
    display: block;
    width: 80%;
    height: 54px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #21c531;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.login_box  .btn_sign{
    display: block;
    width: 80%;
    height: 54px;
    margin-top: 10px;
    border: 1px solid #ebebeb;;
    border-radius: 2px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #444;
}
.find_text a{
    color: #21c531;
    border-bottom: 1px solid #21c531;
}
.img_section{
    padding-top: 30px;
    background: url(../img/bg_intro.jpg) no-repeat;
    height: 600px;
    text-align: center;
}
.img_section h3{
    margin-top: 200px;
   font-size: 42px;
   color: #fff;
}

.img_section p{
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.content_section > .inner{
    display: flex;
    padding: 50px 0;
}
.content_list{
    vertical-align: top;
    text-align: left;
}
.content_img > img{
    width: 300px;
    height: 150px;
}
.content_img:n{
    margin-left: 20px;
}
.content_section:nth-child(2){
    margin-left: 40px;
}
.content_section h4{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: #222;
}
.content_section p{
    font-size: 15px;
    font-weight: 400;
    color: #444;
    margin-top: 6px;
    line-height: 1.6;
}
.band_content{
    padding-top: 20px;
}
.band_menu{
    display: flex;
    justify-content: space-between;
}
.band_menu h3{
    font-size: 24px;
    color: #222;
}
.band_list,.band_list2{
    display: flex;
    width: 50%;
}

